@import "tailwindcss";

:root {
  --background: #fcfcfa;
  --foreground: #111827;
  --primary: #0f7ea8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
}